.center {
    text-align: center;
}

.navbar {
    background-color: #d7dadb;
    overflow: hidden;
}

.navbar a {
    float: right;
    color: black;
    text-align: center;
    padding: 15px 16px;
    font-size: 17px;
}

/* Change the color of links on hover */
.navbar a:hover {
    background-color: white;
    color: black;
}

/* Add a color to the active/current link */
.navbar a.active {
    background-color: #298CD6;
    color: white;
}

.welcome {
    text-align: center;
}

textarea {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

input {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.postButton {
    border: none;
    background-color: #F2BAE4;
    color: white;
    padding: 5px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 5px 3px;
    border-radius: 25px;
    width: 30%;
    height: 50px;
}

.postButton:hover {
    background-color: darkgrey;
}


.createButton {
    border: none;
    color: white;
    background-color: #298CD6;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 25px;
    width: 30%;
    height: 50px;
    padding: 12px 5px;
    margin: 200px 3px 5px;
}


.createButton:hover {
    background-color: darkgrey;
}


#blogEntries li {
    padding: 30px;
    margin: 0 0 15px;
}

#blogEntries li span {
    font-size: 25px;
    display: block;
    margin: 0 0 10px;
    color: black;
    text-align: center;
}

#blogEntries li label {
    font-size: 20px;
    display: block;
    margin: 0 0 10px;
    color: darkgray;
    word-break: break-word;
    padding-left: 200px;
    padding-right: 200px;
}

#blogEntries li button {
    border: none;
    color: white;
    background-color: #298CD6;
    padding: 5px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: Blippo, fantasy;
    font-size: 10px;
    margin: 5px 3px;
    border-radius: 25px;
    width: 10%;
    height: 20px;
}

#blogEntries li removeButton {
    border: none;
    color: white;
    background-color: red;
    padding: 5px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: Blippo, fantasy;
    font-size: 10px;
    margin: 5px 3px;
    border-radius: 25px;
    width: 10%;
    height: 20px;
}



